img {
  max-height: 100%;
  max-width: 100%; 
}

body {
  background-color: #FFF;
  margin-top: 30px;
}

.row {
  margin-bottom: 30px;
}

.new-profile{
    max-width: 30%;
    margin: 18%;
    margin-left: 33%
}